html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

th {
  letter-spacing: 2px;
  width: 25vw;
  text-align: left;
}

td {
  letter-spacing: 1px;
}

tr:hover {
  background-color: #83d160;
}
